/* Normal */
#header {
    overflow: hidden
}

#header #brannon {
    margin: 0;
    font-size: 4em;
    text-align: right;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /*padding-top: 25px;*/
    z-index: -1;
}

#header #brannon.big {
    font-size: 27vw;
}

#header #brannon.big-add .last {
    margin-top: 150px
}

#header #brannon.big-remove .last {
    margin-top: 150px
}

#header ul {
    list-style: none;
    font-size: 3em;
    padding: 0;
}

#header ul li {
    /*-webkit-transition: border-left-color 0.2s;*/
    /*transition: border-left-color 0.2s;*/
    -webkit-transition: border-bottom-color 0.2s, border-left-color 0.2s, font-size 0.2s;
    transition: border-bottom-color 0.2s, border-left-color 0.2s, font-size 0.2s;
    display: inline-block;
    margin: 0 10px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    z-index: 99999;

}

#header ul li a {
    /* this doesn't work - why? */
    z-index: 99999;
}

#header:not(.docked) ul li.selected, #header:not(.docked) ul li:hover {
    border-bottom: 2px solid #333
}

#header:not(.docked) ul {
    margin-top: 0;
}

#header.docked ul li.selected, #header.docked ul li:hover {
    border-left: 2px solid #333
}

#header.docked ul {
    float: left;
    width: 3em;
    margin: 0;
    margin-top: -3em;
    /*font-size: 4em*/
    font-size: 8.5vw
}

#header.docked li {
    float: left;
    clear: both;
    margin-bottom: 5px;
    width: 2.75em
}

#header.tiny {
    position: fixed;
    top: 0;
    padding-top: 5px;
    width: 100%;
    overflow: hidden;
    background-color: #f4edb7;
}

#header.tiny #brannon {
    font-size: 2em;
    float: right;
    margin-right: 20px;
    width: 40%;
}

#header.tiny ul {
    margin: 0;
    float: left;
    width: 40%;
    font-size: 2em;
}

#cheat.show {
    margin-bottom: 183px;
}



/* Mobile */

@media screen and (max-width: 360px) {
    #header {
        font-size: 3em;
        overflow: hidden;
    }

    #header #brannon.big {
        font-size: 16vw
    }

    #header #brannon.big-add .last {
        margin-top: 100px
    }

    #header #brannon.big-remove .last {
        margin-top: 100px
    }
}

@media screen and (min-width: 361px) {

}

@media screen and (min-width: 361px) and (max-width: 360px) {
    #header ul li {
        display: block
    }
}

@media screen and (min-width: 361px) {

}