#resume {
    width: 80%;
    margin: 0 auto;
}

#resume h2 {
    margin-bottom: 5px;
}

#resume ul {
    margin: 0;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {


}
