#resume h2 {
    margin-bottom: 5px;
}

#resume ul {
    margin: 0;
}

#resume h3 {
    position: relative;
    z-index: 0;
}

#resume #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    #resume #contact {
        flex-direction: column;
        align-content: center;
    }

    #resume #contact #icons {
        text-align: center;
    }

    #resume #contact #icons a {
        float: none;
        display: inline-block;

    }

}
